@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
	background-color: #fff;
	color: #222;
	user-select: none;
}

body::-webkit-scrollbar {
	display: none;
}

.Title-Container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100vw;
	height: 50px;
	z-index: 1;
}

.Title-Text {
	position: absolute;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 25px;
}

.Question-Card {
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.Question-Text {
	font-size: 10vw;
	font-weight: bold;
}

.Answer-Text {
	font-size: 8vw;
	color: #ff4444;
}

.Home-Button {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	margin: 10px;
}

.Task-Card {
	position: relative;
	display: flex;
	align-items: center;
	margin: 20px 10px;
	width: calc(100vw - 20px);
	height: 100px;
	border-radius: 5px;
	box-shadow: 0 0px 10px #ddd;
	cursor: pointer;
}

.Task-Title {
	position: absolute;
	left: 10px;
	font-size: 30px;
}

.Task-Description {
	position: absolute;
	left: 200px;
	font-size: 20px;
	opacity: 0.5;
}
